body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #222; /* Dark background by default */
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #111; /* Darker background color for header */
    color: #fff;
    padding: 20px 0;
}

header img.logo {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Comfortaa;;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #444; /* Darker background color for nav links */
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #666; /* Slightly lighter background color on hover */
}

main {
    flex: 1; /* Fill remaining space */
    padding: 20px;
}

footer {
    background-color: #111; /* Darker background color for footer */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.theme-switch-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 999;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #fff;
}

input:checked + .slider:before {
    transform: translateX(20px);
    background-color: #000; /* Change button color when toggled */
}

.slider.round {
    border-radius: 20px;
}

.theme-text {
    margin-left: 10px;
}

.intro-paragraph {
    font-size: 4em; /* Larger font size */
    font-family: DM Serif Display;
}

/* Dark Mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header,
.dark-mode footer {
    background-color: #222;
}

.dark-mode .intro-paragraph{
    color: yellow; /* Black text color in light mode */
}


.dark-mode nav ul li a {
    background-color: #555;
    font-size: 0.9em; /* Reduce font size of navigation links */
    padding: 8px 15px; /* Adjust padding of navigation links */
}

.dark-mode nav ul li a:hover {
    background-color: #777;
}

.dark-mode .theme-switch-container {
    color: #fff;
    font-size: 0.9em; /* Reduce font size of theme switch container */
}

.dark-mode .slider {
    width: 30px; /* Adjust switch size */
    height: 15px;
}

.dark-mode .slider:before {
    width: 15px; /* Adjust slider size */
    height: 15px;
    left: 2px; /* Adjust position */
    bottom: 2px;
}

.dark-mode .theme-text {
    font-size: 0.8em; /* Reduce theme text size */
    margin-left: 5px; /* Adjust margin */
}

/* Light Mode */
.light-mode {
    background-color: #f5f5f5;
    color: #000;
}

.light-mode header,
.light-mode footer {
    background-color: #f0f0f0;
}


.light-mode nav ul li a {
    background-color: #0063ce; /* Blue buttons by default */
}

.light-mode nav ul li a:hover {
    background-color: #1284ff; /* Dark blue on hover */
}

.light-mode .theme-switch-container {
    color: #000;
}

.light-mode .intro-paragraph {
    color: #000000; /* Black text color in light mode */
}

.light-mode footer p {
    color: #000; /* Black text color in light mode */
}

@media (max-width: 1200px) {
    /* Adjustments for screens up to 1200px wide */
    .container {
        width: 90%; /* Reduce container width */
    }
}

@media (max-width: 992px) {
    /* Adjustments for screens up to 992px wide */
    .container {
        width: 95%; /* Further reduce container width */
    }
}

@media (max-width: 768px) {
    /* Adjustments for screens up to 768px wide */
    .container {
        width: 100%; /* Full width container */
        padding: 0 20px; /* Add padding to the container */
    }

    nav ul li {
        margin-right: 10px; /* Reduce margin between navigation items */
    }

    nav ul li a {
        padding: 10px 15px; /* Reduce padding of navigation links */
    }

    footer {
        padding: 10px 0; /* Reduce footer padding */
    }

    .theme-switch-container {
        top: 10px; /* Adjust theme switch container position */
        right: 10px;
    }

    .slider {
        width: 30px; /* Adjust switch size */
        height: 15px;
    }

    .slider:before {
        width: 15px; /* Adjust slider size */
        height: 15px;
        left: 2px; /* Adjust position */
        bottom: 2px;
    }

    .theme-text {
        font-size: 0.8em; /* Reduce theme text size */
        margin-left: 5px; /* Adjust margin */
    }

    .intro-paragraph {
        font-size: 1em; /* Adjust paragraph font size */
    }
}

@media (max-width: 576px) {
    /* Adjustments for screens up to 576px wide */
    header img.logo {
        height: 40px; /* Reduce logo size */
    }
}
