<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/admin_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h3 class="Heading">Train Data</h3>
    <table class="table-body">
        <tr>
            <th>TrainID</th>
            <th>UpDownStatus</th>
            <th>DeptStation</th>
            <th>ArrivalStation</th>
        </tr>
        <% Trains.forEach((i)=>{ %>
        <tr>
            <td><%= i.TrainId %></td>
            <%if(i.UPStatus==1){ %>
            <td>Up</td>
            <% }else {%>
            <td>Down</td>
            <% }%>
            <td><%= i.DeptStation %></td>
            <td><%= i.ArrivalStation %></td>
        </tr>
        <% }); %>
    </table>
</div>
<div class="Search-Table">
    <input id="searchCarriage" class="Input" placeholder="Show Seats by CarriageID">
    <button id="searchCarriageButton" class="searchbutton">Search</button>
    <h3 class="Heading">Carriage</h3>
    <table id="seatTable" class="table-body">
        <tr>
            <th>CarriageID</th>
            <th>TrainID</th>
            <th>Type</th>

        </tr>
    </table>
</div>
<div class="Search-Table">
    <input class="Input" placeholder="Show Seats by CarriageID">
    <button class="searchbutton">Search</button>
    <h3 class="Heading">Seat</h3>
    <table class="table-body">
        <tr>
            <th>CarriageID</th>
            <th>TrainID</th>
            <th>SeatNo</th>
            <th>BookingStatus</th>

        </tr>
        <tr>
            <td>123</td>
            <td>123</td>
            <td>5</td>
            <td>B</td>
        </tr>
    </table>
</div>

</body>
<script>

function updateTable(data) {
    const table = document.getElementById('seatTable');
    table.innerHTML = `
        <tr>
            <th>CarriageID</th>
            <th>TrainID</th>
            <th>Type</th>
        </tr>
    `;
    // Loop through the received data and append rows to the table
    if (Array.isArray(data.Carriage)) {
        data.Carriage.forEach(entry => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${entry.CarriageId}</td>
                <td>${entry.TrainId}</td>
                <td>${entry.Type}</td>
            `;
            table.appendChild(row);
        });
    } else {
        console.error('Unexpected data format:', data);
    }
}


document.getElementById('searchCarriageButton').addEventListener('click', function() {
    // Retrieve the value entered in the search input field
    const searchTerm = document.getElementById('searchCarriage').value;
    if(searchTerm ==null)
        return;
    console.log(searchTerm);
    // You can also send the search term to your server for further processing if needed
    fetch('/TD', {
      method: 'POST',
      body: JSON.stringify({ searchTerm: searchTerm }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
       updateTable(data);

    })
    .catch(error => {
        console.log('gg');
      console.error('Error:', error);
    });
  });
</script>
</html>