<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Decision Page</title>
<link rel="stylesheet" href="/stylesheets/decision_styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
<button id="signup-btn" class="half-btn left-half">Sign Up</button>
<button id="login-btn" class="half-btn right-half">Log In</button>


<script >
	document.getElementById('signup-btn').addEventListener('click', function() {
	window.location.href = '/signupForm';
  });
  
  document.getElementById('login-btn').addEventListener('click', function() {
	window.location.href = '/loginForm';
  });

</script>
</body>

</html>
