<!DOCTYPE html>
<html lang="en">
<head>
    <!--# META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAIL_SYNC</title>
    
    <!--# CSS FILE -->
    <link rel="stylesheet" href="/assets/css/main_styles.css">
    <!--# GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Style+Script&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<!--# FONT AWESOME KIT-->
    <script src="https://kit.fontawesome.com/054d6d8133.js" crossorigin="anonymous"></script>

    <!--# WEBSITE ICON -->
    <link rel="icon" href="assets/img_and_gif/icon.png">
	
</head>

<body>
    <!--# -----------------preloader----------------- -->
     <!-- initially the loader will be displaying -->
    <div id="preloader"></div>     
   

    <div class="content-wrap" id="content">
        <header>
            <div class="container">
                <img src="/assets/img_and_gif/logo.png" alt="Rail Sync Logo" class="logo">
                <nav style="display: flex; flex-direction: row;">
                    <ul>
                        <li><a href="/decisionPg">Sign Up / Login</a></li>
                    </ul>
                    
                </nav>
            </div>
        </header>

        <main>

            <div class="intro-section">
                <p class="intro-paragraph">Embark on a Journey with <span class="company-name">RailSync</span>, which provides  Seamless Travel Solutions.</p>
            </div>
            
            
            <div id="capabilities-section" >
                <h1 class="main-heading">Capabilites</h1>	
                <div class="container">
                 <div class="capabilities-list">
                    <div>
                        <i class="fa-solid fa-ticket"></i>
                        <h2>Ticket Management</h2>
                        <p>Our Railway Management System includes a robust ticketing system that handles ticket bookings, reservations, cancellations, and refunds seamlessly. Passengers can conveniently book tickets online or through various booking channels, reducing queues and enhancing customer satisfaction.</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-calendar-days"></i>
                        <h2>Schedule Optimization</h2>
                        <p>We optimize train schedules to ensure efficient utilization of resources while minimizing delays and maximizing passenger satisfaction. Our system considers factor such as track availability to improve overall operational efficiency.</p>
                    </div>
                    <div>
                        <i class="fa-regular fa-user"></i>
                         <h2>Passenger Information</h2>
                        <p>Our system provides real-time passenger information, including train schedules, delays, platform changes, and station facilities. Passengers can access this information to plan their journeys effectively and stay informed throughout their travel experience.</p>
                    </div>
                 </div>
                 </div>
            </div>


            <div id="about-section" >
                <h1 class="main-heading">About RailSync</h1>	
                <div class="container"> 
                <p>RailSync is a web application for railway management system which features both user and admin dashboards, facilitating seamless navigation across a spectrum of operations. Powered by Microsoft SQL Server, RailSync ensures swift access to essential information for optimal service delivery.</p>
                </div>
            
                <div class="about-image-container">
                    <img src="/assets/img_and_gif/aboutPic.jpg" alt="train scenery">
                </div>
            </div>


        </main>


    </div>

<!-- ******************************* -->
    

    <footer>
        <p>&copy; 2024 RailSync  |  All rights reserved.</p>
    </footer> 


    <script src="/assets/js/main_script.js"></script>

</body>
</html>
