<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/signup&login_styles.css">
    <title>LogIn Form</title>
</head>
<body>
	<!-- if the user logged in successfully -->
    <% if (typeof successMessage !== 'undefined') { %>
    <div class="alert alert-success" role="alert">
        <%= successMessage %>
    </div>
    <% } %>

	<!-- if the user not found  -->
	<% if (typeof errorMessage !== 'undefined') { %>
	<div class="alert alert-danger" role="alert">
		<%= errorMessage %>
	</div>
	<% } %>


    <div class="topHeading">
        <h2 class="display-4 heading">Log In</h2>
        </div>

    <div class="container_topLvl">
        <div class="main">
            <div class="container-fluid mt-1">
                <form action="/login" method="POST">
                    <div class="row">

                        <div class="mb-3 col-md-4 col-7 ml-md-4 ml-3  pl-md-4">
                            <label for="CNIC" class="form-label sub_heading">CNIC:</label>
                            <input type="text" class="form-control inputs" id="CNIC" name="cnic" placeholder="13 digits" pattern="[0-9]{13}" required>
                        </div>

                        <div class="mb-3 col-md-4 col-7 ml-md-4 ml-3  pl-md-4">
                            <label for="Password" class="form-label sub_heading">Password:</label>
                            <input type="password" class="form-control inputs" id="Password" name="password" placeholder="type password" required>
                        </div>
                    </div>


                    <div class="mb-3 mt-2 form-check">
                        <input type="checkbox" class="form-check-input ml-3 " id="check1" required>
                        <label class="form-check-label pl-5" for="exampleCheck1">I assure that the above information is correct!!</label>
                    </div>

                    <div class="pl-4">
                        <button type="submit" class="btn-submit ml-2">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Script to redirect to the dashboard only if the success message is present -->
    <script>
        // Check if the success message is present
        <% if (typeof successMessage !== 'undefined') { %>  //if success msg appears only then redirect to dashbaord but after 2 sec delay so that msg can be read by client
            // Redirect to the dashboard after 2 seconds
            setTimeout(function() {
                window.location.href = '/userDash';
            }, 2000); // 2sec delay
        <% } %>
    </script>

</body>
</html>
