body{
	font-family: 'Inconsolata', monospace;
	background-color:#000;
	color:white;
	min-height: 100vh;
	overflow: hidden;
}
*::selection
{
	color:#000;
	background-color: #c97323;
}

.alert {
    color: #000000;
    background-color: #333333;
    border-color: #000000;
	font-weight: 900;
	font-family: 'Raleway';
}

.alert-success {
    background-color: #09bd00;
}

.alert-danger {
    background-color: #9d0500;
}

/* Darken the background color of input fields filled by Chrome autofill */
input:-webkit-autofill {
    /* color: rgb(213, 0, 0) important; Change the text color to ensure visibility */
    -webkit-box-shadow: 0 0 0px 1000px #656565 inset !important; /* Change the shadow color to match your dark theme */
}

.container_topLvl{
display: flex;
flex-direction: column;
}
.main{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.container-fluid{
	align-items: center;
	align-content: center;
	border:2px solid rgb(173, 173, 173);
	border-radius: 2em;
	padding:2em 3em 2em 3em;
	margin: 1em 4em ; 
}

.topHeading{
	padding: 0.2em 0em 0.1em 0em;
	text-align: center;
}

.heading{
	color:#00b3ff;
}
.sub_heading{
	color:#de6b00;
	font-size: 1em;
	font-weight: 700;
}

 /* ! not a desired solution */
/* textarea:focus, input:focus{ 
	border: none; 
}  */

.inputs{
	background-color: #000;
	outline: none;
	border-radius: 8px;
}
.inputs:focus {
	border-color: #de6b00;
	-webkit-box-shadow: none;
	box-shadow: none;
  }


.inputs:enabled{
	background-color: #000;
	color:white;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
}

input[type='checkbox']:after {
	width: 15px;
	height: 15px;
	top: -3px;
	left: -1px;
	position: relative;
	background-color: #565656;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #000;
}

input[type='checkbox']:checked:after {
	width: 15px;
	height: 15px;
	top: -3px;
	left: -1px;
	position: relative;
	background-color: #de6b00;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #000;
}

.btn-submit{
	font-size:1em;
	font-weight: 600;
	margin-bottom: 0em;
	background-color: rgb(108, 108, 108);
	border: 2px solid rgb(0, 0, 0);
	border-radius: 10px;
	color: #000;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
	transition: background-color 330ms ease-in-out;
	transition: color 0.75s,border-color 0.45s,box-shadow 0.95s,transform 0.95s;
	letter-spacing: 3px;
}

.btn-submit:hover, .btn-submit:focus{
	background-color: #de6b00;
	border: 2px solid black;
	color:rgb(0, 0, 0);
	text-decoration: none;
	outline: none;
	transform: translateY(-0.2em);
    cursor:pointer;
    box-shadow: 0 0.5em 0.7em -0.4em #de6b00;
	
 }
 .btn-submit:active{
	transition:all 100ms;
	background-color: #ff922c;
	color:#000;
	transform:scale(1.1,1.1);
    box-shadow: 0 0.5em 0.7em -0.4em #de6b00;
	
 }

 @media(max-width: 635px)
 {

	.sub_heading{
		color:#de6b00;
		font-size: 0.9em;
	}
	body{
		font-size:0.8em;
	}
  .heading{
	font-size:20px;
  }
  .container{
	margin:5px;
  }


input[type='checkbox']:after {
	width: 15px;
	height: 15px;
	top: -1px;
	left: -1px;
	position: relative;
	background-color: #565656;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #000;
}

input[type='checkbox']:checked:after {
	width: 15px;
	height: 15px;
	top: -1px;
	left: -1px;
	position: relative;
	background-color: #de6b00;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #000;
}
}

 