<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
      &copy; 2024 <strong><span>RailSync</span></strong>. All Rights Reserved.
    </div>
   
  </footer><!-- End Footer -->