body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Dark background by default */
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}



/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 124, 6);
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;   /*for main-axis(horizontal) */
    align-items: center;              /*for cross-axis(vertical)*/
}

*::selection{
    color:#e06c00;
}

#preloader{
	background:#000 url(/assets/img_and_gif/loader.gif) no-repeat center center;
	background-size:2%;
	height:100vh;
	width:100%;
	position:fixed;
	z-index: 100;
}
@media (max-width: 768px) {
    #preloader {
        background-size: 3%;
    }
}
@media (max-width: 490px) {
    #preloader {
        background-size: 4%; 
    }
}
@media (max-width: 450px) {
    #preloader {
        background-size: 5%; 
    }
}

@media (max-width: 430px) {
    #preloader {
        background-size: 6%; 
    }
}
@media (max-width: 370px) {
    #preloader {
        background-size: 7%; 
    }
}
@media (max-width: 330px) {
    #preloader {
        background-size: 8%; 
    }
  }
#content {
    opacity: 0; 
    transition: opacity 1s ease-in-out;   /*Add transition for opacity  */
}


.company-name{
    color:#e06c00;
}


header {
    background-color: #000000; 
    color: #fff;
    /* padding: 10px 0; */
}

header img.logo {
    height: 110px;
    cursor:none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
   
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    font-family: Comfortaa;;
    font-weight: 900;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #d97400; 
    transition: background-color 0.3s ease;
}


nav ul li a:hover {
    background-color: #ff9307; 
}

main {
    flex: 1; /* Fill remaining space */
    padding: 20px;
}

footer {
    background-color: #111; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-right: 0;
    border-top: 2px solid #505050;
}


.intro-paragraph {
    font-size: 4em; 
    font-family: DM Serif Display;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    padding: 20px;
}

.intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#capabilities-section{
	padding:30px 0;
	margin-bottom: 110px;
}


.capabilities-list{
	display:grid;
	/* grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); */
    grid-template-columns: repeat(3,1fr);
	grid-gap:40px;
	margin-top:50px;  
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .capabilities-list {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}

#capabilities-section h1{
	
	font-size: 3.5em;
    font-weight: 700;
	font-family: 'Raleway', sans-serif;
    color:#ffffff;
	text-shadow: #707070 3px 4px ;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
}
#capabilities-section h2{
	color:#00b3ff;
	font-family: 'Julius Sans One', sans-serif;
	margin: 0;

}
#capabilities-section p{
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.5em;
}
.capabilities-list div{
	background-color:#111111;
	padding:10px;
	border-radius:10px;
	text-align: center;
	transition:background 0.5s,transform 0.5s;
    /* height: 50vh; */
}
.capabilities-list div i{
font-size:35px;
margin: 20px;
}
.capabilities-list div:hover{
	background-color:#242424;
	transform: translateY(-10px);
}



#about-section{
    padding:30px 0 0 0;
	margin-bottom: 10px;
}



#about-section h1{
	
	font-size: 3.5em;
    font-weight: 700;
	font-family: 'Raleway', sans-serif;
    color:#ffffff;
	text-shadow: #707070 3px 4px;
    margin-bottom: 0.5em;
    text-align: center;
    justify-content: center;
}
#about-section p{
	font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
	line-height: 2em;
    color: #fff;
    letter-spacing: 3px;
}

.about-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
}

#about-section img{
    width: 40%;
    height: 45vh;
    border-radius: 10px;
}

/* ------------responsivenes----------*/

@media (max-width: 1500px) {
    #about-section img{
        width: 41%;
        height: 45vh;
    }
    
}

@media (max-width: 1400px) {
    #about-section img{
        width: 43%;
        height: 45vh;
    }
    
}

@media (max-width: 1300px) {
    #about-section img{
        width: 45%;
        height: 45vh;
    }
    
}
@media (max-width: 1200px) {
    /* Adjustments for screens up to 1200px wide */
    .container {
        width: 90%; /* Reduce container width */
    }

    .intro-paragraph {
        font-size: 4em; 
    }
    #about-section img{
        width: 47%;
        height: 44vh;
    }

}

@media (max-width: 1100px) {
    
    #about-section img{
        width: 40%;
        height: 35vh;
    }

    .intro-paragraph {
        font-size: 3.5em; 
    }

}

@media (max-width: 992px) {
    /* Adjustments for screens up to 992px wide */
    .container {
        width: 95%; /* Further reduce container width */
    }
    .intro-paragraph {
        font-size: 3em; 
    }
    #about-section img{
        width: 55%;
        height: 34vh;
    }
    .intro-paragraph {
        font-size: 3em; 
    }
}

@media (max-width: 768px) {
    /* Adjustments for screens up to 768px wide */
    .container {
        width: 90%;      /*  if we make width: 100% then the issue of left-gapped footer start to occur so we have to make it less not large  */
        padding: 0 20px; /* Add padding to the container */
    }

    nav ul li {
        margin-right: 10px; /* Reduce margin between navigation items */
    }

    nav ul li a {
        padding: 10px 15px; /* Reduce padding of navigation links */
        font-size:0.9em;
    }

      
    footer {
        padding: 10px 0; 
        font-size: 0.7em;
    }    

   
    .intro-paragraph {
        font-size: 2.5em; 
    }

    #about-section img{
        width: 60%;
        height: 33vh;
    }

   
}

@media (max-width: 750px) {
    #about-section img{
        width: 65%;
        height: 30vh;
    }
}

@media (max-width: 576px) {
    /* Adjustments for screens up to 576px wide */
    header img.logo {
        height: 80px; /* Reduce logo size */
    }

    nav ul li a {
        padding: 10px 15px; /* Reduce padding of navigation links */
        font-size:0.8em;
    }

    .intro-paragraph {
        font-size: 2.4em; 
    }

    #about-section img{
        width: 70%;
        height: 25vh;
    }

    /* #capabilities-section h1, #about-section h1{  //its correct syntax
	
        font-size: 3em;
    } */

    
    #capabilities-section h1{  
	
        font-size: 3em;
    } 
    
    #about-section h1{  
	
        font-size: 2.7em;
    }

}

@media (max-width: 430px) {
    nav ul li a {
        padding: 10px 10px; /* Reduce padding of navigation links */
        font-size:0.6em;
    }

    .intro-paragraph {
        font-size: 2.2em; 
    }

    #about-section img{
        width: 80%;
        height: 20vh;
    }

    footer {
        padding: 10px 0; 
        font-size: 0.65em;
    }
}


@media (max-width: 425px) {
    nav ul li a {
        padding: 10px 10px; /* Reduce padding of navigation links */
        font-size:0.6em;
    }

    .intro-paragraph {
        font-size: 2.2em; 
    }

    #about-section img{
        width: 90%;
        height: 20vh;
    }
}


@media (max-width: 397px) {
    .container {
        width: 100%;
        box-sizing: border-box; /* Ensure padding is included in the width */
    }
    .intro-paragraph {
        font-size: 2.1em; 
    }
}

@media (max-width: 340px) {

    nav ul li a {
        padding: 6px 6px; /* Reduce padding of navigation links */
        font-size:0.5em;
    }
    header img.logo {
        height: 70px;
        cursor:none;
    }
    .intro-paragraph {
        font-size: 2em; 
    }
}