<!-- <footer id="footer" class="footer">
    <div class="copyright">
      &copy; 2024 <strong><span>RailSync</span></strong>. All Rights Reserved
    </div>

  </footer>End Footer -->


  <!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    <!-- &copy; 2024 <strong><span>RailSync</span></strong>. All Rights Reserved. -->
    <p>&copy; 2024 RailSync  |  All rights reserved.</p>
  </div>
 
</footer><!-- End Footer -->