 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="adminDash">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-database-add"></i><span>Add Data</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="addTrain">
              <!-- <i class="bi bi-circle"></i> -->
              <i class="bi bi-train-front"></i><span>Add Train</span>
            </a>
          </li>
          <li>
            <a href="addCarriage">
              <i class="bi bi-node-plus"></i><span>Add Carriage</span>
            </a>
          </li>
            
            <a href="addStation">
              <i class="bi bi-building-add"></i><span>Add Station</span>
            </a>
          </li>
          <li>
            <a href="addTrack">
              <i class="bi bi-bezier2"></i><span>Add Track</span>
            </a>
          </li>
          <li>
            <a href="addRoute">
              <i class="bi bi-calendar-plus"></i><span>Add Route</span>
            </a>
          </li>
          <li>
            <a href="addCrew">
              <i class="bi bi-person-fill-add"></i><span>Add Crew</span>
            </a>
          </li>
         
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart-line"></i><span>Show Data</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="traindata">
              <i class="bi bi-bus-front"></i><span>Trains Data</span>
            </a>
          </li>

          


          <li>
            <a href="stationsAndTracksData">
              <i class="bi bi-building"></i><span>Stations & Tracks Data</span>
            </a>
          </li>
          <li>
            <a href="routesData">
              <i class="bi bi-calendar-minus-fill"></i><span>Routes Data</span>
            </a>
          </li>
          <li>
            <a href="ticketsData">
              <i class="bi bi-calendar3"></i><span>Tickets Data</span>
            </a>
          </li>

          <li>
            <a href="usersAndAdminsData">
              <i class="bi bi-people"></i><span>Users & Admins Data</span>
            </a>
          </li>


            <li>
              <a href="crewData">
                <i class="bi bi-database-fill"></i><span>Crew Data</span>
              </a>
            </li>
        </ul>
      </li><!-- End Tables Nav -->
      
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="adminSignupForm">
          <i class="bi bi-person-plus-fill"></i>
          <span>Add Admin</span>
        </a>
      </li><!-- End Error 404 Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="logout">
          <i class="bi bi-box-arrow-left"></i>
          <span>log out</span>
        </a>
      </li><!-- End Error 404 Page Nav -->



    </ul>

  </aside><!-- End Sidebar-->
