 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="DS">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="addTrain">
              <i class="bi bi-circle"></i><span>Add Train</span>
            </a>
          </li>
          <li>
            <a href="addCarriage">
              <i class="bi bi-circle"></i><span>Add Carriage</span>
            </a>
          </li>
          <li>
            <a href="addSeat">
              <i class="bi bi-circle"></i><span>Add Seat</span>
            </a>
          </li>
          <li>
            
            <a href="addStation">
              <i class="bi bi-circle"></i><span>Add Station</span>
            </a>
          </li>
          <li>
            <a href="addTrack">
              <i class="bi bi-circle"></i><span>Add Track</span>
            </a>
          </li>
          <li>
            <a href="addRoute">
              <i class="bi bi-circle"></i><span>Add Route</span>
            </a>
          </li>
          <li>
            <a href="addSecurity">
              <i class="bi bi-circle"></i><span>Add Security</span>
            </a>
          </li>
          <li>
            <a href="addPilot">
              <i class="bi bi-circle"></i><span>Add Security</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="traindata">
              <i class="bi bi-circle"></i><span>Train Data</span>
            </a>
          </li>

          <li>
            <a href="stationData">
              <i class="bi bi-circle"></i><span>Station Data</span>
            </a>
          </li>
          <li>
            <a href="routeData">
              <i class="bi bi-circle"></i><span>Route Data</span>
            </a>
          </li>
          <li>
            <a href="ticketsData">
              <i class="bi bi-circle"></i><span>Ticket Data</span>
            </a>
          </li>
            <li>
              <a href="staffdata">
                <i class="bi bi-circle"></i><span>Staff Data</span>
              </a>
            </li>
        </ul>
      </li><!-- End Tables Nav -->

      


    </ul>

  </aside><!-- End Sidebar-->
